body {
  background-color: rgb(255, 255, 255);
}

.content {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 60px;
  font-family: "Quicksand", sans-serif;
}

.title {
  color: rgb(0, 0, 0);
  font-family: "Quicksand", sans-serif;
}

.description {
  color: rgb(0, 0, 0);
  font-family: "Quicksand", sans-serif;
}
